body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #004d3f;
}
.navbar a {
    color: white !important;
}
.container-fluid {
    padding: 20px;
}
.alert {
    font-size: 1.2rem;
}
.btn-group {
    margin-bottom: 15px;
}
.badge-proceso { background-color: #078566; }
.badge-cerrado { background-color: #6e00006b; }
.table th, .table td { text-align: center; }
.action-buttons { display: flex; gap: 5px; justify-content: center; }

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.pagination-container select {
    width: auto;
    margin-left: 10px;
}